.title {
    font-weight: bold;
    font-size: 36px;
    color: #EDF5E1;
    text-align: center;
}


* {

    font-family: "Verdana", "DejaVu Sans", "sans-serif";
    background-color: #659DBD;
}


.test

{
    font-weight: bold;
    color: #EDF5E1;
    font-size: 24px;
    
}


/* ##702963,#DC143C,#EF8DA0
     BASE  MAIN   ACCENT
     COLOR SCHEME*/